{%extends 'images/base.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/images.css' %}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>








<div class="container">
        <h1 id="mainheading" style="text-align:center; color:#0d47a1" class="display-4"> Pixel Connect</h1>


  <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto">





  <div class="card-columns " >
      <div class="card border-light"  >
      {% for image in posts %}

      {{post_test.id}}


                  <div class="header"><img class="img-circle" src="{{image.user_profile.avater.url}}">
            </div>

  <div class="card border-secondary" style="width:240%;">
                  <!--<p>{{image.user_profile.username | safe}} </p>-->
    <a href="{% url 'profile' username=image.user_profile.username %}">
    <label>{{image.user_profile.username}}</label></a>

            Post id is : {{post_test.image}} {{image.id}}

                        <!--<p>{{image.comments.all}} </p>-->
      {% for comment in image.comments.all %}

      {{comment.comment}}
{% endfor %}







    <img class="card-img-top" src="{{image.image.url}}" class="img-responsive" alt="Image" size="100px200" type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{image.id}}">
<hr>
       <a id="like" href="{% url 'like' operation='like' pk=image.id%}" style="color:inherit;"><i class="far fa-heart fa-2x ml-4"></i></a>
      <p>{{image.caption | safe}}</p>
            <p>{{image.likes | safe}} likes</p>



{% for comment in comments %}
    <div class="comment">
        <!--<div class="date">{{ comment.comment }}</div>-->
        <strong>{{ comment.user }}: {{comment.comment}}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}


            {{form.media}}

      <form  action="{%url 'homepage'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
      </form>

       {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      {% bootstrap_javascript %}
    {% endblock %}
  </div>


      {% empty %}
  <div class="row">
    <h2 class="text-center">There is no images here</h2>
  </div>
      {% endfor %}
          </div>

  </div>
    </div>


    <!--<div class="col-md-3">-->

<!--<img src="{% static 'images/instagram.png'%}" alt="">-->


    <!--</div>-->

    </div>
    </div>










<div class="container-fluid">




          <br>
        <br>


    <br>

    </div>



</body>
</html>

{% endblock %}
