{%extends 'images/base.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>





<div class="container">

    <h1 style="text-align:center; color:#0d47a1" class="display-3"> Pixel-Connect</h1>

    {% for category in categories %}

    <a href="/?category={{category.id}}"> <button class="btn btn-lg btn-link">      #{{category.name}}</button></a>

          {% endfor %}




  <div class="card-columns">
      {% for image in posts %}

  <div class="card border-secondary">
                  <!--<p>{{image.user_profile.username | safe}} </p>-->
    <a href="{% url 'profile' username=image.user_profile.username %}">
    <label>{{image.user_profile.username}}</label></a>

                        <!--<p>{{image.comments.all}} </p>-->
      {% for comment in image.comments.all %}

      {{comment.comment}}
{% endfor %}



    <img class="card-img-top" src="{{image.image.url}}" class="img-responsive" alt="Image" size="100px200" type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{image.id}}">
<hr>
      <a class="btn btn-default" href="{% url 'like_post' id=image.id %}"><i class="far fa-heart"></i></a>
            <a class="btn btn-default" href="{% url 'add_comment' id=image.id %}"><i class="far fa-comment"></i></a>
      <p>{{image.caption | safe}}</p>
            <p>{{image.likes | safe}} likes</p>



{% for comment in comments %}
    <div class="comment">
        <!--<div class="date">{{ comment.comment }}</div>-->
        <strong>{{ comment.user }}: {{comment.comment}}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
  </div>

    <!-- Modal -->
<div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{image.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <img class="card-img-top" src="{{image.image.url}}" class="img-responsive" alt="Image" size="100px200">
      </div>
        <div>
        <h4 class="modal-title" id="exampleModalLongTitle">Name: {{image.name}}</h4>

        <h6 class="modal-title" id="exampleModalLongTitle">Details: {{image.description| safe}}</h6>
        <h6 class="modal-title" id="exampleModalLongTitle">Location: {{image.location| safe}}</h6>

        </div>

      <div class="modal-footer">



<button class="btn btn-primary" value="https://cherucole-photos.herokuapp.com{{image.image.url}}" onclick="copytext(this.value)">Copy
           link</button>      </div>
    </div>
  </div>
</div>
      {% empty %}
  <div class="row">
    <h2 class="text-center">There is no images here</h2>
  </div>
      {% endfor %}

  </div>

<script>


    function copytext(text) {

   function handler(event) {
       event.clipboardData.setData('text/plain', text);
       event.preventDefault();
       document.removeEventListener('copy', handler, true);
   }

   document.addEventListener('copy', handler, true);
   document.execCommand('copy');

}

</script>
</div>
</body>
</html>

{% endblock %}
