{%extends 'images/base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<br>
<br>
<div class="container">
<div class="row">

  <div class="col-md-4">

        <div class="card border-secondary">
      <img class="rounded-circle img-responsive" width="170" height="170" src="{{user.profile.avatar.url}}" size="">
    <div class="card-footer">
      <p>{{profile_info.user}}</p>
      <p>{{profile_info.bio | safe}}</p>
      </div>
    </div>

  </div>

  <div class="col-lg-8 col-md-10 mx-auto">
  <div class="card-columns " >
      <div class="card border-light"  >
      {% for image in posts %}

                  <div class="header"><img class="img-circle" src="{{image.user_profile.avater.url}}">
            </div>

  <div class="card border-secondary" style="width:240%;">
    <a href="{% url 'profile' username=image.user_profile.username %}">
    <label>{{image.user_profile.username}}</label></a>

    <img class="card-img-top" src="{{image.image.url}}" class="img-responsive" alt="Image" size="100px200" type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{image.id}}">
<hr>
      <a id="like" href="{% url 'like' operation='like' pk=image.id%}" style="color:inherit;"><i class="far fa-heart fa-2x ml-4"></i></a>
      <p>{{image.caption | safe}}</p>
            <p>{{image.likes | safe}} likes</p>
      {% for comment in image.comments.all %}
          <p>{{comment.poster}} : {{comment.comment}}</p>

{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
  </div>
      {% empty %}
  <div class="row">
    <h2 class="text-center">There is no images here</h2>
  </div>
      {% endfor %}
          </div>

  </div>
    </div>
    </div>

{% endblock %}